# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
ENV/
env/

# Data and Artifacts
data/processed/
data/external/
models/
submissions/*.csv
logs/*.log

# Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
